mat-card {
  margin: 16px 17px 0px 18px;
}

mat-form-field {
  width: 100% !important;
}
.title {
  font-size: 24px;
  margin-bottom: 14px;
}

::ng-deep {
  .mat-form-field .mat-form-field-flex {
    background-color: white !important;
  }
}

::ng-deep .mat-form-field {
  .mat-input-element {
    color: gray;
    text-align: left !important;
  }
  .mat-form-field-label {
    color: gray !important;
  }
}

.botao {
  margin-top: 23px;
  margin-right: 15px;
}

::ng-deep .snackBarColor {
  background-color: #e43a23;
  color: #ffffff;
}
