#area {
  padding: 28px 20px 0 18px;
}

.botao {
  background-color: #007bc2;
  color: white;
}

table {
  width: 100%;
  margin-top: 34px;
}

.title-table {
  font-size: 16px;
  color: black;
}

.botao-alterar i {
  cursor: pointer;
  margin-right: 17.25px;
}
